In [1]:
import pandas as pd

In [11]:
train_first = pd.read_csv('gaiic_track3_round1_train_20210220.tsv',sep='\t',header = 0)
train_sec = pd.read_csv('gaiic_track3_round1_train_20210228.tsv',sep='\t')

In [12]:
train_first.head()

            好无聊啊         啊好无聊啊  1
0        我好想谈恋爱呀     我多想谈一场恋爱呀  1
1      今天我四点就起床了  今天下午一点五十叫我起床  0
2  现在不需要你了不要回来了你         不要回来了  1
3     语音助手用不了怎么办   怎么用语音召唤小助手？  0
4     人为什么要坐飞机呢？     为什么我手机这么卡  0

In [13]:
train_sec.head()

                1 2 3 4 5 6 7                          8 9 10 4 11  0
0                 12 13 14 15                          12 15 11 16  0
1  17 18 12 19 20 21 22 23 24                  12 23 25 6 26 27 19  1
2              28 29 30 31 11                       32 33 34 30 31  1
3                 29 35 36 29                          29 37 36 29  1
4               38 23 39 9 40  12 19 41 42 23 43 12 23 44 41 42 19  0